{% extends 'main.html' %}

{% block content %}

<div>
                <h3>Previous message</h3>
                <p>{{ message.body }}</p>
                <form action="{% url 'edit_message' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="message_id" value="{{ message.id }}">
                    <input type="hidden" name="game_id" value="{{ game_id }}">
                    <textarea name="message_value"></textarea>
                    <br>
                    <input type="submit" value="Edit post">
                </form>


</div>
{% endblock content %}