{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }













</style>


<h1>Game sessions scheduled</h1>
<div class="home-container">
    <div>
        <h3>Browse sports</h3>
        <div><a href="{% url 'home' %}">All</a></div>
        <hr>
        {% for sport in sports%}
        <div><a href="{% url 'home' %}?sport={{sport.name}}">{{sport.name}}</a></div>
        <hr>
        {% endfor %}

    </div>
    <div>
        <div>
            <a href="{% url 'create_game_session' %}">Create a new game session</a>
        </div>
        <hr>

        {% for game in games %}
        <div>
            <table>
                <tr>
                    <th>
                        Sport
                    </th>
                    <th>
                        Organisator
                    </th>
                    <th>
                        Field
                    </th>
                    <th>
                        Game Time
                    </th>
                    <th>
                        Hours
                    </th>
                    <th>
                        Price per hour
                    </th>
                    <th>
                        Places left
                    </th>
                </tr>
                <tr>
                    <td>{{ game.pitch.sport.name }}</td>
                    <td><a href="{% url 'user' game.leader.id %}">@{{ game.leader }}</a></td>
                    <td><a href="{% url 'pitch' game.pitch.id %}">{{ game.pitch.name }}</a></td>
                    <td>{{ game.game_begin }}</td>
                    <td>{{ game.hours }}</td>
                    <td>{{ game.price_per_hour }}</td>
                    <td>{{ game.nb_places }}</td>
                    <td>
                        <form action="{% url 'game_session' game.id %}">
                            <input type="submit" value="Book!"/>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'update_game_session' game.id %}">
                            <input type="submit" value="Edit!"/>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'delete_game_session' game.id %}">
                            <input type="submit" value="Delete!"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
        {% endfor %}
    </div>

</div>
{% endblock content %}